html {
	font-family: "Helvetica Neue", Helvetica, STHeiTi, Microsoft YaHei, sans-serif, Microsoft JhengHei, Arial;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size:12px;
}
body {
	margin: 0;
	font-size:1.2rem;
	line-height: 1.5;
	color: #333333;
	background-color: white;
	height: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: 100%;   /* 禁止选中文本 */
	user-select: 100%;
	-webkit-text-size-adjust: 100%;	/* iphone禁用文字大小调整 */
}
/* 手机版使用 改变盒子模型 */
section, article, nav, aside, footer, header, div, p {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden], template {
display: none;
}
a {
	outline: none;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	background: transparent;
}
a:focus {
	outline: 0;
}
a:link, a:visited {
	color: #333;
	text-decoration: none;
}
/*a:active { outline: 0; }
a:active { color: #006699; }*/
a, img {
	-webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
input, textarea, select {
	outline: none;
	-webkit-appearance: none;	/* 清除 iphone 中 input 默认样式 */
}
img {
	border: 0;
	vertical-align: middle;
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
}
button, select {
	text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-user-select: none;
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled], html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0;
}
input {
	line-height: normal;
}
html, button, input, select, textarea {
	font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul, ol, li, dl, dd {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul, ol {
	list-style: none outside none;
}
h1, h2, h3 {
	line-height: 2;
	font-weight: normal;
}
h1 {
	font-size: 2.8rem;
}
h2 {
	font-size: 2.4rem;
}
h3 {
	font-size: 2.0rem;
}
input::-moz-placeholder, textarea::-moz-placeholder {
color: #cccccc;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color: #cccccc;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: #cccccc;
}

.inner {
	width:90%;
	margin:0 auto;
}